html {
    background: url(./images/Hanging-Herbs.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: #954AAC;
    font-family: "Papyrus", "Courier New", sans-serif;
    font-size: 56px;
    font-weight: 900;
    text-align: center;
}