.title {
    text-align: center;
    font-family: "Papyrus", "Courier New", Sans-serif;
    color: #923df4
}

img {
    height: auto;
    width: 500px;
}

#center {
    text-align: center;
}

.text {
   font-family: Georgia, Sans-serif;
}

.home {
    border-radius: 12px;
    background-color: #923df4;
    border: 2px solid #923df4;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 16px;
    transition-duration: 0.4s;
}

.home:hover {
    background-color: white;
    color: #923df4;
}